node_modules/

venv/
__pycache__/
*.pyc

.vs/
.vscode/
*.vcxproj.user
*.suo
*.ncb
*.user
*.filters
*.swp

*.log
*.tmp

lab3/*.o
lab3/*.obj
lab3/*.exe
lab3/*.dll
lab3/*.lib
lab3/*.a
lab3/*.so

lab3/bin/
lab3/build/
lab3/out/

lab3/CMakeFiles/
lab3/CMakeCache.txt
lab3/cmake_install.cmake
